*{
    margin: 0;
    padding: 0;
}
.containner{
    height: 100vh;
    width: 550px;
    background-color:#091d36 ;
    margin: auto;
}

.containner i {
    font-size: 100px;
color: 	#1877F2;
margin: auto;
margin-top: 70px;
margin-left: 220px;
}
.mob{
    width: 500px;
height: 60px;
border-radius: 20px;
padding: 5px;
margin: auto;
margin-top: 110px;
margin-left: 20px;
border: 1px gray;
}
.pass{
    width: 500px;
    height: 60px;
    border-radius: 20px;
    padding: 5px;
    margin: auto;
    margin-top: 15px;
    margin-left: 20px;
    border: 1px gray;

}
.btn{
    width: 510px;
    height: 65px;
    border-radius: 20px;
    padding: 5px;
background-color: #1877F2;
font-size: 20px;
border: 1px solid #1877F2;
margin: auto;
margin-top: 15px;
margin-left: 20px;
}
.para{
    font-size: large;
    margin: auto;
    margin-top: 15px;
    margin-left: 200px;
    font-family: sans-serif;
}
.btn2{
    border: 2px solid  #1877F2;
    color: #1877F2;
    padding: 5px;
    height: 65px;
    width: 520px;
    border-radius: 20px;
    font-size: 20px;
background-color: rgb(15, 14, 14);
margin: auto;
margin-left: 20px;
margin-top: 100px;
}